# *Grupo3 SRL*

![logo.gif]()

# Final 4º Bimestre Diplomatura UADE

## Datos del Grupo (Ingrese los datos de los miembros del grupo)

#*Representantes comerciales*

Nombre y Apellido | LU
------------------|---


---

### Indice


1. __<a href='#1' target='_self'>Importamos Librerías</a>__
1. __<a href='#2' target='_self'>Modificamos el df para calcular las métricas de clasificación</a>__
1. __<a href='#3' target='_self'>Matriz de Confusión</a>__
1. __<a href='#4' target='_self'>Evaluamos las Galas</a>__
     1. __<a href='#4a' target='_self'>Gala 20/11/22</a>__
     1. __<a href='#4b' target='_self'>Gala 27/11/22</a>__
     1. __<a href='#4c' target='_self'>Gala 04/12/22</a>__

## <a id='1'>1. Importamos las Librerías</a>

In [167]:
import pandas as pd 
import numpy as np
import datetime

## <a id='2'>2. Modificamos el df para calcular las métricas de clasificación</a>

In [70]:
df_final_ml = pd.read_csv('/Users/ri1965/Desktop/UADE/Bimestre_04/Tweeter/Datalake/consume/twitter_token_final.csv', index_col=0)

In [71]:
df_final_ml.head()

                  fecha participante sentimiento
0  2022/11/28, 21:51:27       walter         pos
1  2022/11/28, 21:51:29      juliana         neg
2  2022/11/28, 21:51:30      juliana         neg
3  2022/11/28, 21:51:30       walter         pos
4  2022/11/28, 21:51:30      juliana         pos

In [72]:
df_final_ml['gala'] = 0

In [73]:
df_final_ml['fecha'] = pd.to_datetime(df_final_ml["fecha"].str[:10])

In [74]:
df_final_ml['fecha'].head()

0   2022-11-28
1   2022-11-28
2   2022-11-28
3   2022-11-28
4   2022-11-28
Name: fecha, dtype: datetime64[ns]

In [75]:
mask_gala = ((df_final_ml['participante']=='lucila') | (df_final_ml['participante']=='juliana')) & (df_final_ml['fecha'] == '2022-11-20')

In [76]:
df_final_ml['gala'] = np.where(mask_gala, 1, df_final_ml['gala'])

In [77]:
df_final_ml[['fecha', 'participante', 'gala']].sample(50)

            fecha participante  gala
95157  2022-11-30      daniela     0
47630  2022-11-20       romina     0
33036  2022-12-01      ignacio     0
23685  2022-12-01       walter     0
90965  2022-11-30      ignacio     0
2737   2022-11-28       walter     0
130740 2022-11-27      ignacio     0
19775  2022-11-29         mora     0
114303 2022-11-25      juliana     0
68746  2022-11-20      juliana     1
22774  2022-12-01      martina     0
93110  2022-11-30       thiago     0
122673 2022-11-27  maria laura     0
25410  2022-12-01      ignacio     0
84218  2022-11-20      juliana     1
50347  2022-11-20      juliana     1
30715  2022-12-01       walter     0
53720  2022-11-20       walter     0
110243 2022-11-25       marcos     0
110901 2022-11-25      agustin     0
47041  2022-11-20      juliana     1
93775  2022-11-30      ignacio     0
136466 2022-11-27      juliana     0
79575  2022-11-20       thiago     0
24744  2022-12-01    constanza     0
123533 2022-11-27    constanza     0
137400 2022-11-27      juliana     0
88552  2022-11-20      juliana     1
92020  2022-11-30      julieta     0
49299  2022-11-20    constanza     0
116858 2022-11-25       lucila     0
90275  2022-11-30       thiago     0
25860  2022-12-01      ignacio     0
11951  2022-11-29      daniela     0
64156  2022-11-20      juliana     1
117663 2022-11-25       marcos     0
7768   2022-11-28      juliana     0
50913  2022-11-20      julieta     0
75287  2022-11-20      juliana     1
133738 2022-11-27      juliana     0
26308  2022-12-01      daniela     0
44618  2022-11-20      ignacio     0
2362   2022-11-28       walter     0
101494 2022-11-30       romina     0
40759  2022-11-20       lucila     1
18064  2022-11-29    constanza     0
44779  2022-11-20       lucila     1
134792 2022-11-27       romina     0
105028 2022-11-30    constanza     0
134448 2022-11-27      ignacio     0

In [78]:
mask_gala = ((df_final_ml['participante']=='maria laura') | (df_final_ml['participante']=='juliana')) & (df_final_ml['fecha'] == '2022-11-27')

In [79]:
df_final_ml['gala'] = np.where(mask_gala, 1, df_final_ml['gala'])

In [80]:
df_final_ml[['fecha', 'participante', 'gala']].sample(50)

            fecha participante  gala
18722  2022-11-29       romina     0
17674  2022-11-29      martina     0
103980 2022-11-30       marcos     0
31338  2022-12-01       walter     0
13314  2022-11-29       romina     0
74625  2022-11-20      juliana     1
15212  2022-11-29    constanza     0
122298 2022-11-27      juliana     1
132483 2022-11-27      juliana     1
90264  2022-11-30       romina     0
23294  2022-12-01       marcos     0
99073  2022-11-30      ignacio     0
124954 2022-11-27      agustin     0
5890   2022-11-28      juliana     0
118184 2022-11-25       lucila     0
33843  2022-12-01       walter     0
41779  2022-11-20       marcos     0
57657  2022-11-20      juliana     1
52309  2022-11-20      juliana     1
49017  2022-11-20      juliana     1
104216 2022-11-30    constanza     0
4928   2022-11-28       marcos     0
131254 2022-11-27    constanza     0
24091  2022-12-01       walter     0
138519 2022-11-28      juliana     0
59430  2022-11-20      juliana     1
30400  2022-12-01       walter     0
134961 2022-11-27    constanza     0
41127  2022-11-20      ignacio     0
10209  2022-11-28      juliana     0
64656  2022-11-20       lucila     1
59521  2022-11-20       lucila     1
53532  2022-11-20  maximiliano     0
135813 2022-11-27       marcos     0
18581  2022-11-29       romina     0
33113  2022-12-01       thiago     0
97614  2022-11-30    constanza     0
80695  2022-11-20       lucila     1
125060 2022-11-27      agustin     0
65350  2022-11-20      julieta     0
78510  2022-11-20    constanza     0
38720  2022-11-20       thiago     0
16751  2022-11-29       marcos     0
81049  2022-11-20      juliana     1
96974  2022-11-30      julieta     0
129675 2022-11-27    constanza     0
19187  2022-11-29       alexis     0
76131  2022-11-20       lucila     1
84146  2022-11-20      juliana     1
80664  2022-11-20    constanza     0

In [81]:
mask_gala = ((df_final_ml['participante']=='lucila') ) & (df_final_ml['fecha'] == '2022-11-20')

df_final_ml['resultado'] = np.where(mask_gala, 1, 0)

df_final_ml[['fecha', 'participante', 'gala', 'resultado']].sample(50)

            fecha participante  gala  resultado
121060 2022-11-27       marcos     0          0
130843 2022-11-27      ignacio     0          0
11547  2022-11-29  maria laura     0          0
12788  2022-11-29       walter     0          0
3127   2022-11-28      juliana     0          0
120990 2022-11-27      ignacio     0          0
128367 2022-11-27  maria laura     1          0
12849  2022-11-29       lucila     0          0
51283  2022-11-20      juliana     1          0
11585  2022-11-29      julieta     0          0
132763 2022-11-27       thiago     0          0
64197  2022-11-20    constanza     0          0
79597  2022-11-20      juliana     1          0
27220  2022-12-01  maximiliano     0          0
77830  2022-11-20      juliana     1          0
69930  2022-11-20      juliana     1          0
107400 2022-11-30      ignacio     0          0
130367 2022-11-27    constanza     0          0
7128   2022-11-28      juliana     0          0
2819   2022-11-28       walter     0          0
73528  2022-11-20         juan     0          0
108038 2022-11-30       marcos     0          0
55837  2022-11-20       lucila     1          1
44494  2022-11-20      juliana     1          0
75276  2022-11-20    constanza     0          0
84828  2022-11-20      daniela     0          0
60649  2022-11-20      juliana     1          0
87396  2022-11-20       lucila     1          1
94110  2022-11-30    constanza     0          0
175    2022-11-28    constanza     0          0
78999  2022-11-20      juliana     1          0
90347  2022-11-30  maximiliano     0          0
97950  2022-11-30    constanza     0          0
67308  2022-11-20      juliana     1          0
105721 2022-11-30    constanza     0          0
12090  2022-11-29       marcos     0          0
58318  2022-11-20       walter     0          0
44174  2022-11-20      juliana     1          0
83586  2022-11-20      juliana     1          0
92974  2022-11-30       romina     0          0
59136  2022-11-20       lucila     1          1
4738   2022-11-28      juliana     0          0
63909  2022-11-20      juliana     1          0
24793  2022-12-01  maria laura     0          0
95268  2022-11-30      daniela     0          0
76834  2022-11-20       lucila     1          1
96626  2022-11-30      julieta     0          0
53995  2022-11-20      juliana     1          0
60306  2022-11-20      daniela     0          0
133877 2022-11-27  maximiliano     0          0

In [82]:
mask_gala = ((df_final_ml['participante']=='juliana') ) & (df_final_ml['fecha'] == '2022-11-27')

df_final_ml['resultado'] = np.where(mask_gala, 1, 0)

df_final_ml[['fecha', 'participante', 'gala', 'resultado']].sample(50)

            fecha participante  gala  resultado
94777  2022-11-30      daniela     0          0
32345  2022-12-01       thiago     0          0
102987 2022-11-30       marcos     0          0
24376  2022-12-01       romina     0          0
21000  2022-11-29       marcos     0          0
109898 2022-11-30      ignacio     0          0
137151 2022-11-27    constanza     0          0
25205  2022-12-01       romina     0          0
133167 2022-11-27    constanza     0          0
101046 2022-11-30  maria laura     0          0
109688 2022-11-30      ignacio     0          0
52039  2022-11-20      juliana     1          0
32992  2022-12-01       thiago     0          0
6303   2022-11-28      julieta     0          0
103549 2022-11-30      ignacio     0          0
113852 2022-11-25       thiago     0          0
73917  2022-11-20  maria laura     0          0
72954  2022-11-20      juliana     1          0
20095  2022-11-29  maximiliano     0          0
84095  2022-11-20      ignacio     0          0
75407  2022-11-20    constanza     0          0
105492 2022-11-30    constanza     0          0
59243  2022-11-20    constanza     0          0
120556 2022-11-27      juliana     1          1
68687  2022-11-20      juliana     1          0
2627   2022-11-28       walter     0          0
110821 2022-11-25      juliana     0          0
76322  2022-11-20      juliana     1          0
123369 2022-11-27  maria laura     1          0
42358  2022-11-20      julieta     0          0
73437  2022-11-20       lucila     1          0
130866 2022-11-27  maximiliano     0          0
133046 2022-11-27    constanza     0          0
138099 2022-11-27      ignacio     0          0
56849  2022-11-20      juliana     1          0
122334 2022-11-27       walter     0          0
28132  2022-12-01       thiago     0          0
101693 2022-11-30    constanza     0          0
17650  2022-11-29         mora     0          0
53514  2022-11-20      juliana     1          0
46648  2022-11-20      juliana     1          0
120257 2022-11-27      ignacio     0          0
119808 2022-11-25      ignacio     0          0
82102  2022-11-20      juliana     1          0
60811  2022-11-20      juliana     1          0
43995  2022-11-20       lucila     1          0
40943  2022-11-20    constanza     0          0
90748  2022-11-30  maximiliano     0          0
15203  2022-11-29       thiago     0          0
92657  2022-11-30       marcos     0          0

In [83]:
df_final_ml.head()

       fecha participante sentimiento  gala  resultado
0 2022-11-28       walter         pos     0          0
1 2022-11-28      juliana         neg     0          0
2 2022-11-28      juliana         neg     0          0
3 2022-11-28       walter         pos     0          0
4 2022-11-28      juliana         pos     0          0

## <a id='3'>3. Matriz de Confusión</a>


Asumamos que el `evento` buscado es que un participante se vaya de la casa, la metodología usada en el programa es por mayor porcentaje de voto `negativo`.

Asumamos que nos posicionamos en quien se fué, plantearemos una MATRIZ DE CONFUSIÓN de la siguiente manera:

Método Indirecto: los sentimientos se traducen en llamadas en contra del opositor
- Participante #1: es `el se fue` 
    - Los sentimientos `positivos` del p#2, se traducen en llamadas para que se vaya el p#1
        - Verdadero Positivo ya que el p#1 se fue
    - Los sentimientos `negativos` del p#2, se traducen en llamadas para que se quede el p#1
        - Falso Negativo ya que el p#1 se fue
                

- Participante #2: es `el se quedó` 
    - Los sentimientos `positivos` del p#1, se traducen en llamadas para que se vaya el p#2
        - Falso Negativo ya que el p#2 se quedó
    - Los sentimientos `negativos` del p#1, se traducen en llamadas para que se quede el p#2
        - Verdadero Negativo ya que el p#2 se quedó
        
Método Directo: los sentimientos se relacionan directamente con lo que pasó posteriormente
- Participante #1: es `el se fue` 
    - Los sentimientos `positivos` del p#1, se traducen en llamadas para que se quede el p#1
        - Falso Negativo ya que el p#1 se fue
    - Los sentimientos `negativos` del p#1, se traducen en llamadas para que se vaya el p#1
        - Verdadero Negativo ya que el p#1 se fue
                

- Participante #2: es `el se quedó` 
    - Los sentimientos `positivos` del p#2, se traducen en llamadas para que se quede el p#2
        - Verdadero Negativo ya que el p#2 se quedó
    - Los sentimientos `negativos` del p#2, se traducen en llamadas para que se vaya el p#2
        - Falso Negativo ya que el p#2 se quedó

In [164]:
def matrix_conf (fecha, participante_1, participante_2):

    VPi = df_final_ml['fecha'][((df_final_ml['participante']==participante_2) & (df_final_ml['fecha']==fecha) &
                              (df_final_ml['sentimiento']=='pos'))].count()
    
    FNi = df_final_ml['fecha'][((df_final_ml['participante']==participante_2) & (df_final_ml['fecha']==fecha) &
                              (df_final_ml['sentimiento']=='neg'))].count()
    
    FPi = df_final_ml['fecha'][((df_final_ml['participante']==participante_1) & (df_final_ml['fecha']==fecha) &
        (df_final_ml['sentimiento']=='pos'))].count()
    
    VNi = df_final_ml['fecha'][((df_final_ml['participante']==participante_1) & (df_final_ml['fecha']==fecha) &
        (df_final_ml['sentimiento']=='neg'))].count()
    
    print(f'Para la gala del {fecha} en la que sale {participante_1.title()} y se queda {participante_2.title()}, las métricas fueron')
    print()
    print()
    
    print('Métricas para el método Indirecto')
    print()
    metricas_conf (VPi, FNi, FPi, VNi)   
    
    print()
    print()
    print()
    
    FNd = df_final_ml['fecha'][((df_final_ml['participante']==participante_1) & (df_final_ml['fecha']==fecha) &
            (df_final_ml['sentimiento']=='pos'))].count()
    
    VPd = df_final_ml['fecha'][((df_final_ml['participante']==participante_1) & (df_final_ml['fecha']==fecha) &
            (df_final_ml['sentimiento']=='neg'))].count()
   
    VNd = df_final_ml['fecha'][((df_final_ml['participante']==participante_2) & (df_final_ml['fecha']==fecha) &
            (df_final_ml['sentimiento']=='pos'))].count()

    FPd = df_final_ml['fecha'][((df_final_ml['participante']==participante_2) & (df_final_ml['fecha']==fecha) &
            (df_final_ml['sentimiento']=='neg'))].count()





    print('Métricas para el método Directo')
    print()
    metricas_conf (VPd, FNd, FPd, VNd)

## <a id='4'>4. Evaluamos las Galas</a>

### <a id='4a'>a. Gala 20/11/2022</a>

In [165]:
matrix_conf('2022-11-20', 'lucila', 'juliana')

Para la gala del 2022-11-20 en la que sale Lucila y se queda Juliana, las métricas fueron


Métricas para el método Indirecto

Precision: 0.758991080847799
Recall: 0.9229872098899817
F1: 4.801954342515374
Accuracy: 0.7411003236245954



Métricas para el método Directo

Precision: 0.3608378870673953
Recall: 0.07701279011001827
F1: 31.512367491166078
Accuracy: 0.2588996763754045

### <a id='4b'>b. Gala 27/11/2022</a>

In [166]:
matrix_conf('2022-11-27', 'juliana', 'maria laura')

Para la gala del 2022-11-27 en la que sale Juliana y se queda Maria Laura, las métricas fueron


Métricas para el método Indirecto

Precision: 0.35166702059885324
Recall: 0.6637274549098197
F1: 8.70048309178744
Accuracy: 0.378076062639821



Métricas para el método Directo

Precision: 0.5416397675919948
Recall: 0.33627254509018034
F1: 9.64004767580453
Accuracy: 0.6219239373601789

### <a id='4c'>c. Gala 04/12/2022</a>

TBA